html, body, main {
  width: 100%;
}

h1 {
  padding-top: 10px;
  font: 50px sans-serif;
  font-weight: 900;
}

.menu-header {
  font-size: 40px;
  position: absolute;
  top: 20px;
}

.text-header {
  font: 65px serif;
  text-align: center;
}

.flex-display {
  width: 800px;
  height: 300px;
  margin: auto;
  position: relative;
}

.flexbox {
  height: 250px;
  width: 500px;
  margin: 0px auto 80px;
  display: flex;
  border: solid 8px hsl(0,0%,0%);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
}

.button.add {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0px;
  top: 45px;
  border: solid 5px hsl(0,0%,0%);
}

.button.remove {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0px;
  top: 130px;
  border: solid 5px hsl(0,0%,0%);
}


.box {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.box:hover {
  border: solid 4px hsl(0, 0%, 0%);
  cursor: pointer;
}

.box:focus {
  border: solid 4px hsl(0, 0%, 0%);
  outline: none;
}

.box.red {
  background: red;
}

.box.green {
  background: green;
}

.box.purple {
  background: purple;
}

.box.orange {
  background: orange;
}

.box.blue {
  background: blue;
}

.button-menu > button {
  height: 100px;
  width: 100px;
}

.buttonContainer {
  width: 100%;
  height: 1120px;
  padding: 20px 0px;
  background: gray;
}

.button {
  width: 100px;
  height: 100px;
  margin: 10px;
  font: 15px sans-serif;
  border: solid 5px hsl(0,0%,0%);
  outline: none;
}

.button-menu {
  display: flex;
  font: 30px sans-serif;
  text-align: center;
}

.button-menu.main-button {
  background: aliceblue;
  width 100%;
  padding: 0px 200px;
  justify-content: space-around;
}

.button-menu.sub {
  display: block;
  width: 400px;
  height: 400px;
  background: white;
  border: solid 10px hsl(0,0%,0%);
}

.sub-button-wrapper {
  padding: 20px;
  padding-top: 100px;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.sub-buttons {
  margin-top: 40px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}
