html, body {
  width: 100%;
  height: 100%;
}

.text-header {
  font: 80px serif;
  text-align: center;
}

.flexbox {
  height: 250px;
  width: 500px;
  margin: 0px auto 80px;
  display: flex;
  border: solid 8px hsl(0,0%,0%);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.button.add {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 450px;
  top: 170px;
}

.button.remove {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 450px;
  top: 260px;
}


.box {
  width: 50px;
  height: 50px;
}

.box.red {
  background: red;
}

.box.green {
  background: green;
}

.box.purple {
  background: purple;
}

.box.orange {
  background: orange;
}

.box.blue {
  background: blue;
}

.button-menu > button {
  height: 100px;
  width: 100px;
}

.buttonContainer {
  width: 100%;
  height: 800px;
  background: gray;
}

.button {
  width: 150px;
  height: 150px;
  margin: 20px;
  font: 15px sans-serif;
}

.button-menu {
  display: flex;
  border: solid 2px hsl(0,0%,0%);
  font: 30px sans-serif;
  text-align: center;
}

.button-menu.main-button {
width 100%;
justify-content: center;
border: solid 2px hsl(30,50%,40%);
}

.button-menu.sub {
  display: block;
  width: 400px;
  height: 400px;
}

.sub-button-wrapper {
  display: flex;
  justify-content: space-around;
}

.sub-buttons {
  display: flex;
}
